.App {
  font-family: sans-serif;
  text-align: center;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
}

.column {
  flex: 25%;
}

.formInput {
  display: flex;
  justify-content: space-around;
}

.inputField {
  width: 100px;
}
